
# Visual Studio Code configurations
.vscode/

# GitHub workflows
.github/

# documentations
docs/

# source code
lib/
types/
.babelrc
.editorconfig
.gitignore
rollup.config.js
tsconfig.json
